body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  overflow: hidden;
}

.container {
  text-align: center;
  margin-top: 100px;
  color: white;
}

h1 {
  font-size: 40px;
}

.yes, .no {
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin: 20px;
  position: absolute;
}

.yes {
  background-color: #ff4d6d;
  top: 60%;
  left: 40%;
}

.no {
  background-color: #222;
}
.message {
  margin-top: 50px;
  font-size: 30px;
}
